

<div>
  <h2>Name Input Form</h2>

  <form [formGroup]="formName" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name: </label>
      <input type="text" id="name" formControlName="name" placeholder="Enter Name" />
    </div>

    <div *ngIf="hasNameRequiredError()">
      Name is requred
    </div>


    <div>
      <button type="submit" [disabled]="formName.invalid">Add Name</button>
      <button type="button" (click)="resetForm()">Clear</button>
    </div>

  </form>


  <div>
    <h3>Submitted Names</h3>

    <div *ngIf="names.length === 0">
      No Data
    </div>

    <table *ngIf="names.length > 0">

      <thead>
        <tr>
          <th>No.</th>
          <th>Name.</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let name of names; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ name }}</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
